// Mixins in here

/* .btn {
    background: @button-bg;
    height: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    align-items: center;
    color: white;
    border-radius: 15px;
  } */


  .btn-mixin(@font-color, @bg-color) {
    background: @bg-color;
    height: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    align-items: center;
    color: @font-color;
    font-weight: 700px;
    border-radius: 15px;
  }